<!DOCTYPE html>
<html>
  <head>
    <title>Gym</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "dashboard/shared/nav" %>
    <%= render "dashboard/shared/sidebar" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <div class="p-4 sm:ml-64">
      <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
          <%= yield %>  
      </div>
    </div>
    <%= turbo_frame_tag :modal %>
  </body>
</html>
